main {
    width: 600px;
    background: limegreen;
    border: 10px double green;
    margin: 20px auto;
    font-size: 1.2em;
}
input, label {
    width: 115px;
    display: inline-block;
    margin: 4px;
}
.boton {
    display: block;
    width: 150px;
    height: 30px;
    margin: 25px auto;
}
h1{
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 550px;
    text-align: center;
    margin: 0 auto 30px;
}
th {
    border: solid white 1px;
    color: white;
    background: blue;
}
td {
    border: solid 1px black;
    width: 100px; 
}
#xml {
    width: 400px;
    background: burlywood;
    border: double brown 10px;
    margin: auto;
}